body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: transparent;
    font-size: large;
    display: flex;
    margin: 0;
}

nav a {
    color: darkblue;
    text-decoration: none;
    padding: 2%;
}

nav > .title {
    font-weight: bold;
}
.left {
    flex: 1.75;    
}

.right {
    flex:1.75;
    text-align: right;
    margin-right: 1%;
}


nav a:hover {
    background-color: black;
    color: white;
}

.reel * {
    margin: 0;
    padding: 0;
}

.reel {
    position: relative;
    width: 100%;
    height: 91vh;
    animation: animate 30s ease-in-out infinite;
    background-repeat: no-repeat;
    background-size: cover;
}

.outer{
    position: inherit;
    width: 100%;
    height: inherit;
    /* background-color: rgba(0,0,0,0.5); */
}

@keyframes animate {
    0%,100% {
        background-image: url(https://images.pexels.com/photos/1903702/pexels-photo-1903702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    }
    20% {
        background-image: url(https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    }
    40% {
        background-image: url(https://images.pexels.com/photos/2101187/pexels-photo-2101187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    }
    80% {
        background-image: url(https://images.pexels.com/photos/1062249/pexels-photo-1062249.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    }
}

.latest-sale {
    color: darkblue;
    text-align: center;
}

.grid {
    text-align: left;
    padding: 0 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}

.grid > div {
    color: rgb(79, 100, 194);
    font-size: large;
}

.grid  .size {
    color: burlywood;
}

.grid .details {
    color: grey ;
    font-size: medium;
}

.grid a {
    text-decoration: none;
    padding: 3% 3%;
    border: 0.1em solid darkblue;
}